
h1{
    font-size: 4rem;
    text-align: center;   
}

p, ul{
    font-size: 1.3rem;
}

.navbar ul{
    list-style-type: none;
    display: flex;
    gap:5rem;
    padding-top:2%;
    
}

.navbar a {
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
}

.navbar a:hover {
    color: orange;
}

#current-page {
    color:grey;
    text-decoration: underline;
    font-size: 1.5rem;
}

.section {
    padding: 1%;
}

.main-section {
    height: 100%;
    background-color: rgb(208, 246, 161);
    padding: 5%;
}

.icon h2{
    display: inline-block;
}

.nav-socials ul {
    display:flex;
    list-style-type: none;
    gap:1rem;
}

.nav-socials a {
    text-decoration: none;
    color: black;
}

.nav-socials a:hover {
    color:orange;
    
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 10px;
    padding: 10px; 
}

.gallery-unit {
    aspect-ratio: 16 / 9;
    overflow: hidden;
}

.gallery-square-unit {
    aspect-ratio: 1 / 1;
}

.gallery-unit img, .gallery-square-unit img {
    max-width: 100%;
    height: auto;
}


.icon:active {
    cursor: grabbing;
}

.icon:hover {
    color: rgb(223, 97, 0);
}

#contact-main {
    text-align: center;
    padding: 10%;
}

#animation-container {
    display: none;
}

#games-container {
    display: none;
}